.DS_Store
node_modules
package-lock.json

.anchor
test-ledger
**/*.rs.bk

/target/*
!/target/deploy
!/target/idl
!/target/types

/target/*/*
!/target/deploy/*.json
!/target/idl/*.json
!/target/types/*
