.DS_Store
node_modules
package-lock.json
# app/dist

.anchor
test-ledger
**/*.rs.bk

/target/*
!/target/deploy
!/target/idl
!/target/types

# /target/*/*
# !/target/deploy/*
# !/target/idl/*.json
# !/target/types/*
